<footer class="footer">

  <div class="footer-menu">
    <a href="index.html">TOP</a> |
    <a href="berita.html">News</a> |
    <a href="member.html">Member</a> |
    <a href="infomkt.html">Apa Itu MKT4X?</a> |
    <a href="prosedur.html">Pengenalan Prosedur</a> |
    <a href="mailto:mkt4xofficial@gmail.com">Kontak</a> |
    <a href="rules.html">Syarat dan Ketentuan</a>
  </div>

  <div class="footer-social">
    <a href="https://instagram.com/@mkt4x_virtual" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://youtube.com/@MKT4XVirtual" target="_blank">
      <i class="fab fa-youtube"></i>
    </a>
    <a href="https://tiktok.com/@mkt4x.virtual" target="_blank">
      <i class="fab fa-tiktok"></i>
    </a>
  </div>

  <div class="footer-copy">
    Copyright © 2026 MKT4X ENTERTAINMENT All Rights Reserved
  </div>

</footer>
